@import 'normalize.scss';

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
@mixin font-roboto {
font-family: 'Roboto', sans-serif;  
}

// === / Mixins ===

// === Variables ===
$color-white: #fff;
$color-grey: #f4f4f4;
$color-black: #363636;
$color-red: #cc3333;
$color-holder: #b9b9b9;
$h1-size: 28px;
$h2-size: 22px;
$h3-size: 18px;
$h4-size: 14px;
// === / Variables ===

// === Common ===
body {
    @include font-roboto;
    background: white;
    color: #363636;
}
h1, h2, h3, h4 {
    @include font-montserrat;
} 

.section-outer {}
.section-inner {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

// === / Common ===

// === pre-header ===
.section-preheader {
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        &__logo {
            padding-top: 10px;
                img {
                    min-width: 105px;
                    height: 49px;
                }
        }

        &__hour,
        &__location,
        &__tel {
            font-size: $h3-size;
        }

        &__hour {
            font-weight: bold;
        }
        &__location {}
        &__tel {
            font-weight: bold;
        }
    }
}
// === / pre-header ===

// === header ===
.section-header {
    background-color: $color-grey;

    &-content {}
    &-wrapper {
        
        &__title {}
        &__subtitle {}
        &__form {
            display: flex;

            &-input {
                input {
                    border: 1px solid $color-black;
                    background: rgba(255, 255, 255, .25);
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    &::placeholder {
                    color: $color-holder;
                    }
                }
            }
            &-button {
                button {
                    margin: 0;
                    padding: 16px 20px;
                    font-size: $h3-size;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 4px;
                    background: linear-gradient(to right, #fe985b, #fe4fa7);
                }
            }
        }

    }

}
// === / header ===

// === promo ===
.section-promo {}
// === / promo ===

// === founder ===
.section-founder {}
// === / founder ===

// === whywe ===
.section-whywe {}
// === / whywe ===

// === callback ===
.section-callback {}
// === / callback ===

// === adventages ===
.section-adventages {}
// === / adventages ===

// === footer ===
.section-footer {}
// === / footer ===

// === footercall ===
.section-footercall {}
// === / footercall ===