@import 'normalize.scss';

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
@mixin font-Roboto {
font-family: 'Roboto', sans-serif;    
}
body {
    background: yellow;
}
// === / Mixins ===